// COLORS
$color-white: #FFFFFF;
$color-grey-light-1: #f0f0f0;

$color-orange-1: #FC5404;
$color-orange-2: #F98404;
$color-orange-3: #F9B208;
$color-yellow-1: #F7FD04;

// FONTS
$default-font-size: 1.6rem;


.skyblue {
    color: skyblue;
}

.hotpink {
    color: hotpink;
}

.lightseagreen {
    color: lightseagreen;
}

.lightsalmon {
    color: lightsalmon;
}