.feature-box {
    background-color: rgba(white, .8);
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
    transition: transform .3s;
    min-height: 20rem;
    width: 35rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(medium){
        height: 20rem;
    }

    @include respond(small){
        height: 13rem;
    }

    &__icon {
        font-size: 6rem;
    }

    &__text {
        font-size: 1.3rem;
        // line-height: 1.5rem;

    }
    
    &:hover {
        transform: scale(1.05);
    }
}